body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 0; 
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: white;
    background-color: #0000ff;
    padding: 20px;
    margin: 0;
}

form {
    background-color: #e29b79;
    color: white;
    padding: 20px;
    margin: 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box; 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0000ff;
    color: white;
    border: none;
    cursor: pointer;
    box-sizing: border-box; 
}

button:hover {
    background-color: #0000cc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    box-sizing: border-box;
}

thead {
    background-color: #0000ff;
    color: white;
}
